/*
  Related Products
*/

.related-list,
.outfit-list {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0 10%;
  margin-bottom: 5%;
}

.card,
.plus {
  width: 250px;
  height: 360px;
  padding: 0 10px;
  margin-left: 10px;
}

.plus h3 {
  display: flex;
  justify-content: center;
}

.card img,
.plus img {
  width: 250px;
  height: 250px;
}

.plus img {
  margin-top: 15%;
}

.card-btn {
  position: relative;
  left: 223px;
  top: 30px;
  font-size: 25px;
  color: #fdf6c5
}

.related-heading,
.outfit-heading {
  margin: 0 10%;
  margin-top: 10px;
}

p,
h4,
.price {
  margin: 5px;
}

.sale {
  color: red;
}

.strike {
  text-decoration: 'line-through';
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  margin: 100px auto;
  padding: 20px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-header h5 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f8f8f8;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #ccc;
  width: 250px;
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.carousel-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 400px;
}

.carousel-slides {
  display: flex;
}

.nav {
  background: none;
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: larger;
}

.nav:hover {
  background: fixed;
  background-color: lightslategray;
  font-weight: bolder;
}

.next {
  right: auto;
}

.prev {
  left: auto;
}

.hidden {
  visibility: hidden;
}

/*
  Others
*/
/*overview>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.style {
  width: 50px;
  height: 50px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}

#styleselector {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
}

#addtocart {
  width: 210px;
  display: flex;
}

#imagegallery {
  position: absolute;
  left: 400px;
  width: 500px;
  height: 500px;
  top: 10px;
}


.thumbnail_url {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.thumbnail_urlli {
  display: inline-block;
}

.thumbnail_urlul {
  display: flex;
  flex-flow: column;
  width: 51px;
}

.selected_image {
  border: 1px black solid;
  border-radius: 10px;
}

.selectSize {
  position: relative;
  width: 200px;
}






/*overview>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.NewReviewWindow {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;

  height: 50%;
  width: 50%;

  max-width: 50%;
  border: 3px solid black;
  background-color: whitesmoke;
}

.ReviewInput {
  width: 90%;
  max-width: 90%;
  height: 70%;

  margin: auto
}

.ReviewList {
  position: relative;
  max-width: 50%;

  margin: auto;

  display: flex;
  flex-direction: column;
}

.ReviewTile {
  border: 3px solid black;
  border-radius: 5px;
  aspect-ratio: 1.61803398875;
  max-width: 80%;
  padding: 10px;

  margin-bottom: 5px;
  position: relative;



}


.Review.Corner {
  float: right;
}

.Review.Date {
  margin: 2px;
}

.Review.Rating {
  margin: 2px;
}

.Rating>.Star {
  width: 25px;
  height: 25px;
}

.Review.Summary {
  font-size: 20px;
  float: left;
  font-weight: bold;
  margin: 0;
}

.Review.Name {
  float: left;
  margin: 2px 0px 0px 15px;

}

.Review.Body {
  clear: left;
}

.Review.Helpfulness {
  margin: 5px;
}

.Review.Image {
  height: 10%;
  max-width: 30%;
}

.Review.ImagesList {
  border: 3px solid black
}